.container{
  background-color: rgba(255, 0, 0, 0.4);
  margin: 80px;
  margin-bottom: 0px;
  display:inline flex;
  flex-direction: column;
  justify-content:space-between;
  padding:auto;
  font-weight: bolder;
}
.box-1{
  padding-left: 25px;
}
.box-2{
  padding-left: 25px;
  margin-top: 20px;
  font-size: 20px;
  color:rgb(219, 182, 136) ;
}


h1{
  color: rgb(211, 157, 9);
  padding: 10px;
  margin: 0px;
  font-size:90px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin-bottom: 0px;
}
h4{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 0px;
  color:rgb(255, 140, 0);
  font-size: 20px;
}

h5{
  padding: 0px;
  border: 0px  ;
  margin: 0px;
  font-size:20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: rgb(211, 157, 9);
}
p{
  padding: 0px;
  border: 0px  ;
  margin: 0px;
  font-weight:bold;
  font-family:cursive;
  color:rgb(219, 182, 136) ;

}
h2{
  color: beige;
  text-align: center;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.generate{
  display: block;
  width: 100%;
  border: none;
  background-color:orange;
  padding: 14px 28px;
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  text-align: center;
  border-radius: 12px;
}
.generate:hover {background: rgb(224, 85, 20);}
.space-out{
  margin-top: 10px;
  margin-bottom: 10px;
}